<div class="container">
  <br>
  <h1>
    Angular Add Example
  </h1>
  <p class="lead">A simple directive for adding code examples based on the actual code and markup! Just add <code>AddExample</code> to your element and you're done:D</p>
  <h4>A really basic example</h4>
  <p>Lets start with something really simple, by adding the directive <code>AddExample</code> to our element this is what we'll get.</p>
  <strong class="text-muted">Example:</strong>
  <div AddExample>
    <p>Some content and a button.</p>
    <button class="btn btn-primary">Button</button>
  </div>
  <p class="alert-info alert">Note that the directive itself and other angular specific attributes added during compilation are removed as we often want to show the code before compilation. However, in some cases we might want to keep the inputs and attributes added to our example element and by passing <code>[keepInputs]="true"</code> to our directive we can achieve just that.</p>
  <strong class="text-muted">Example:</strong>
  <div AddExample id="simple" [keepInputs]="true">
    <p>Some other content and another button.</p>
    <button class="btn btn-primary">Another button</button>
  </div>
  <br>
  <h4>The less basic reality</h4>
  <p>A real app or library is usually more complex and most often our code is split in to multiple files (JavaScript, TypeScript, html, css etc.), which is good a good practice for organizing our code but i also poses a problem when we're trying to keep examples up to date. So how do we solve that last problem now that our code is split into multiple files?</p>
  <p class="alert alert-info">The following example loads external sources that are passed to the directive and presents them within tabs. You can override the css styles directly or pass other nav options to leverage bootstraps default styles using <code>[navStyle]="'tabs'"</code>. We're also targeting another element using <code>[target]="basicExample"</code> (the element we want to add attach our example to) and by passing a custom class name <code>[customClass]="'card-footer'"</code> we can alter the appearance.</p>
  <p>For the sake of demonstrating the concept I've added an example inside another example so the first one is what you want to achieve and the second code block is actually how you'd set it up.</p>
  <strong class="text-muted">Example:</strong>
  <div AddExample id="metaExample" [keepInputs]="true" [source]="'child'">
  <div class="card" #basicExample>
    <div class="card-block">
      <form AddExample id="basic" [target]="basicExample" [navStyle]="'tabs'" [customClass]="'card-footer'" [externalSources]="externalSources">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <fieldset class="form-group row">
          <legend class="col-form-legend col-sm-2">Radios</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                Option three is disabled
              </label>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <label class="col-sm-2">Checkbox</label>
          <div class="col-sm-10">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Check me out
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-custom" (click)="signIn()">Sign in</button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <strong class="text-muted">Meta code example</strong>
  </div>
</div>
