<div class="container-fluid pb-5">
  <br>
  <h1>
    Angular Exemplify
  </h1>
  <p class="lead">A simple component for adding code examples based on actual code and markup! Just add <code>&lt;exemplify&gt;&lt;/exemplify&gt;</code> together with <code>[selector]=&quot;'**html selector**'&quot;</code> and/or <code>[sources]=&quot;sourceList&quot;</code> to your code and you're done:D See <a href="https://github.com/hjalmers/angular-exemplify" target="_blank">docs</a> for more info.</p>
  <basic-example></basic-example>
  <sources></sources>
  <raw-loader></raw-loader>
  <inline-snippet></inline-snippet>
  <escaping-strings></escaping-strings>
</div>
