@import "../node_modules/prismjs/themes/prism-coy.css";

.example-code-container {
  position: relative;
  margin-top: 20px;
}

.example-code-container pre.markup-example {
  margin-top: 0;
  padding-top: 6px;
}

.example-code-container a.link-copy {
  float: right;
  z-index: 1;
  position: relative;
  margin-right: 6px;
}

.example-code-container ul.nav:not(.nav-inline) a.link-copy {
  top: 20px;
  right: 20px;
  float: none;
  position: absolute;
}

.example-code-container .token.tag {
   display: inline-block;
   padding: 0;
   font-size: inherit;
   font-weight: normal;
   line-height: 1;

}
